Logging_MOTALA
Logging_FINSPANG
Logging_ODESHOG
Logging_KINDA
Logging_LINKOPING
Logging_MJOLBY
Logging_VALDEMARSVIK
Logging_BOXHOLM
Logging_VADSTENA
Logging_ATVIDABERG
Logging_SODERKOPING
Logging_NORRKOPING
Logging_YDRE